numpy==1.21.2
developer.egg==info
matplotlib==3.4.2
pandana==0.6.1
urbansim.egg==info
# https://github.com/semcog/urbansim_parcels
urbansim_parcels.egg==info
pandas==1.2.4
bokeh==1.4.0
scipy==1.6.2
orca==1.6
choicemodels==0.2.2
datashader==0.13.0
developer==0.0.0-alpha
PyYAML==5.4.1
scikit_learn==0.24.2
urbansim==3.2
